<link rel="stylesheet" href="../css/reactdemo.css" />
<p class="PlaceholderText">
    A simple React component that toggles the visibility of some text.
</p>
<div id="root">Root</div>
<script type="module" src="/js/reactdemo1.bundle.js"></script>