<link rel="stylesheet" href="../css/reactdemo.css" />

<p class="PlaceholderText">
    You must be logged in as an administrator to render this component.
</p>

<div id="root">Root</div>


<script type="module" src="/js/reactdemo2.bundle.js" asp-append-version="true"></script>

<environment names="Development">
    <script src="http://localhost:35729/livereload.js"></script>
</environment>
